body, html {
  width: 100%;
}

body {
  color: #5F5F5F;
  width: 100%;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
  padding: 0 40px;
}

.firstMessage {
  width: 50%;
  margin: 0 auto;
  line-height: 20px;
  text-align: center;

  h1 {
    font-size: 20px;
    padding-top: 400px;
    background-image: url('pelota.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin-top: 0;
  }
}

.logged {
  margin: 0 auto;
  text-align: center;
}

.user-block {
  width: 100%;
  text-align: right;
}

.user-image {
  display: inline-block;
  vertical-align: top;
}

.user {
  width: 10%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;

  img {
    width: 90px;
  }
}

.players-list {
  text-align: left;
}

.userName {
  font-weight: bold;
}

.games-list {
  margin-top: 100px;
}