* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('/proximanova-regular-webfont.eot');
  src: url('/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/proximanova-regular-webfont.woff') format('woff'),
       url('/proximanova-regular-webfont.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;
}

body, html {
  width: 100%;
  font-family: 'proxima_nova_rgregular';
}

body {
  color: #5F5F5F;
  width: 100%;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
}

.firstMessage {
  width: 50%;
  margin: 0 auto;
  line-height: 20px;
  text-align: center;

  h1 {
    font-size: 20px;
    padding-top: 400px;
    background-image: url('pelota.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin-top: 0;
  }
}

.logged {
  margin: 0 auto;
  text-align: center;
}

.user-block {
  width: 100%;
  text-align: right;
}

.user-image {
  display: inline-block;
  vertical-align: top;
}

.user {
  width: 18%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  min-height: 180px;
  margin-bottom:10px;
  border: 3px solid transparent;

  &.selected .addMatchConfirmation {
    display: block;
  }

  &.selected {
    background-color: #FAFAFA;
  }

  &.selected .addMatch {
    display: none;
  }

  span.picture {
    height: 90px;
    width: 90px;
    display: block;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin: 0 auto;
    box-shadow: 3px 3px 3px #D1D1D1;
  }
}

.players-list {
  text-align: left;
}

.user-name {
  font-weight: bold;
  margin: 15px 0;
  display: block;
  font-size: 17px;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 5px;
}

.login-display-name {
  color: #b4b4b4 !important;
}



.games-list {
  margin-top: 100px;
}

.addMatch {
  display: block;
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.addMatchConfirmation {
  display: none;
  &:hover {
    opacity: 0.75;
  }
}

.game-unit {
  margin: 20px 0;
  height: 100px;

  &.double {
    height: 130px;
  }

  &:hover {
    background-color: #f8f8f8;
  }
}

.firstPlayer, .versus, .secondPlayer {
  display: inline-block;
  vertical-align: top;
}

.player-name, .player-pic {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.player-name {
  font-size: 28px;
  padding-top: 20px;
  padding-right: 15px;
  width: 270px;
  text-align: center;
}

.versus {
  padding-top: 15px;
  font-size: 25px;
  margin: 0 25px;
}

.timeAgo {
  color: #888888;
  font-size: 17px;
  width: 155px;
}

.player-pic {
  img {
    max-width: 50px;
    display: block;
  }
  img:first-child {
    padding-top: 15px;
  }
}

.endGame, .finished {
  font-size: 13px;
}

.finished {
  color: red;
}

.first-layer {
  h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  a {

  }
}

.login-display-name {
  padding-top: 10px;
}

.partner {
  color: red;
}

.pickPartner {
  display: block;
}

.head {
  margin-bottom: 45px;
  min-height: 100px;
}

.pickRivals {
  margin: 0;
}

.addCoupleGame {
  display: none;
  z-index: 4;
}

.coupleMode {
  display: block;
}

.friend {
  background-color: #0BB475;
  color: #FFFFFF;
}

.enemy {
  background-color: #DA3610;
  color: #FAFAFA;
}

.button {
  border: 4px solid #0BB475;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  width: 190px;
  color: #0BB475;
  font-weight: bold;
  margin: 0 auto;
  box-shadow: 3px 4px 0 0 #17A570;

  &.button-single {
    width: 100%;
    margin-top: 15px;
  }

  &:active {
    position: relative;
    top: 2px;
    opacity: 0.7;
  }
}

.game-unit.double {
  .player-pic img:first-child {
    padding-top: 15px;
  }

}

.singleMode {
  display: block;
}

#login-buttons-logout {
  color: #0bb475 !important;
  background: #ffffff !important;
  border: 0 !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

.login-display-name {
  font-size: 20px !important;
  color:#5f5f5f !important;
 }
