* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('/proximanova-regular-webfont.eot');
  src: url('/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/proximanova-regular-webfont.woff') format('woff'),
       url('/proximanova-regular-webfont.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;
}

body, html {
  width: 100%;
  font-family: 'proxima_nova_rgregular';
}

body {
  color: #5F5F5F;
  width: 100%;
}

.wrapper {
  width: 950px;
  margin: 0 auto;
  padding: 0 40px;
}

.firstMessage {
  width: 50%;
  margin: 0 auto;
  line-height: 20px;
  text-align: center;

  h1 {
    font-size: 20px;
    padding-top: 400px;
    background-image: url('pelota.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin-top: 0;
  }
}

.logged {
  margin: 0 auto;
  text-align: center;
}

.user-block {
  width: 100%;
  text-align: right;
}

.user-image {
  display: inline-block;
  vertical-align: top;
}

.user {
  width: 18%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
  position: relative;

  img {
    width: 90px;
  }
}

.players-list {
  text-align: left;
}

.userName {
  font-weight: bold;
  margin: 15px 0;
  display: block;
  font-size: 21px;
  text-align: center;
  padding: 0 15px;
}



.games-list {
  margin-top: 100px;
}

.addMatch {
  display: block;
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.addMatchConfirmation {
  color: white;
  width: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f1c40f;
  border: 0;
  border-bottom: 2px solid #e2b607;
  text-align: center;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  margin-top: 10px;
  box-shadow: inset 0 -2px #e2b607;
  font-family: "Helvetica", Arial, sans-serif;

  &:hover {
    opacity: 0.75;
  }
}

.game-unit {
  margin: 20px 0;
  height: 100px;

  &:hover {
    background-color: #f8f8f8;
  }
}

.background-color-yellow {
  background-color: #f3f3f3;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.firstPlayer, .versus, .secondPlayer {
  display: inline-block;
  vertical-align: top;
}

.player-name, .player-pic {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.player-name {
  font-size: 30px;
  padding-top: 15px;
  padding-right: 15px;
  width: 270px;
  text-align: center;
  line-height: 68px;
}

.versus {
  padding-top: 15px;
  font-size: 25px;
  margin: 0 25px;
}

.timeAgo {
  color: #888888;
  font-size: 17px;
  width: 155px;
}

.player-pic {
  img {
    max-width: 50px;
    padding-top: 17px;
  }
}

.endGame, .finished {
  font-size: 13px;
}

.finished {
  color: red;
}

.first-layer {
  height: 636px;

  h1 {
    font-size: 40px;
  }
}

.login-display-name {
  padding-top: 10px;
}
